body {
  font-family: 'Chivo Mono', monospace;
  font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: #E9E3D5;
  }
  
.mainSec{
  background-color: #E9E3D5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.botonCard{
  margin-left: 45px;
}

.About{
  background-color: #E22626;
  border-radius: 10px;
  color: #E9E3D5;
  text-align: center;
  height: 600px;
}

.AboutImg{
  display: flex;
  flex-direction: row;
}

.textAbout{
  font-family: 'Chivo Mono', monospace;
  font-weight: 300;
  margin-left: 250px;
  margin-right: 100px;
  padding-top: 200px;
  text-align: left;
}

.titleCard{
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

.titleService{
  margin-left: 10px;
}

.cardServices{
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.212);
  margin: 50px 10px 50px 10px;
}

.ServiciosTitulos{
  background-color: #E9E3D5;
  margin-top: 50px;
  color:#292A45;
  text-align: center;
}

.ListaServicios{
  padding-left: 300px;
}

.Servicios{
  margin-top: 50px;
}

.formBox{
  max-width: 600px;
  margin-left: 350px;
}

.cardFondo{
  background-color: #faf7ef;
  color: #292A45;
  font-family: 'Chivo Mono', monospace;
  font-weight: 300;
}
  footer {
    background-color: rgb(104, 9, 9);
    color: #E9E3D5;
    text-align: center;
    padding: 20px;
    margin-top: 101px;
  }

